@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:wght@600&display=swap");

html {
	scroll-behavior: smooth;
}

*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Pink: hsl(322, 100%, 66%); /* primary */
	--Very-Pale-Cyan: hsl(193, 100%, 96%);
	--Very-Dark-Cyan: hsl(192, 100%, 9%);
	--Grayish-Blue: hsl(208, 11%, 55%);
	--transition-timing: ease-in-out 200ms;
}

body {
	max-width: 100vw;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

h1,
h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: var(--Very-Dark-Cyan);
}

h1 {
	font-size: 28px;
	line-height: 42px;
}

p {
	font-weight: 400;
	line-height: 28px;
}

a {
	text-decoration: none;
	color: var(--Very-Pale-Cyan);
}

a:hover {
	color: var(--Pink);
}

ul {
	list-style: none;
}

.container {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
}

.cta-button {
	border-radius: 50px;
	color: var(--Very-Pale-Cyan);
	background-color: var(--Pink);
	cursor: pointer;
	font-family: "Open Sans";
	font-weight: 700;
	border: none;
	box-shadow: 0 2px 10px -3px #00000080;
}

.cta-button:hover {
	opacity: 0.9;
}
.cta-button:active {
	transform: scale(0.97);
}

header {
	background-color: var(--Very-Pale-Cyan);
	position: sticky;
	top: 0px;
	padding: 10px 0;
	z-index: 999;
}

.header-container {
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.header-container .cta-button {
	padding: 5px 20px;
	color: var(--Very-Dark-Cyan);
	background-color: #fff;
}

.header-logo {
	width: 120px;
	/* height: 20px; */
}

.hero-section {
	background-color: var(--Very-Pale-Cyan);
	/* background: linear-gradient(#fff0, url("images/bg-hero-mobile.svg")); */
	/* background-blend-mode: overlay; */
	/* background-repeat: no-repeat; */
	padding: 50px 0;
}

.hero-container {
	padding: 20px;
	text-align: center;
	gap: 50px;
}

.hero-body {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
}

.hero-body p {
	color: var(--Very-Dark-Cyan);
}

.hero-container .cta-button,
.card .cta-button {
	padding: 15px;
	width: 250px;
}

.hero-container .hero-mockup-image img {
	width: 100%;
}

.cards-container {
	margin-top: 80px;
	margin-bottom: 200px;
	gap: 40px;
}

.card {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
	border-radius: 25px;
	padding: 50px 40px;
	box-shadow: 0px 0px 15px -10px var(--Very-Dark-Cyan);
	transition: all var(--transition-timing);
}

.card-text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card-image img {
	width: 100%;
	border-radius: 25px;
}

.card h2 {
	font-size: 20px;
	font-weight: 400;
}

.card-text p {
	color: var(--Grayish-Blue);
}

.card:hover {
	transform: scale(1.01);
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
}

.card-4 {
	position: absolute;
	bottom: -75px;
	width: 90%;
	align-self: center;
	padding: 50px 10px;
	z-index: 2;
}

.attribution {
	font-size: 11px;
	text-align: center;
	position: sticky;
	bottom: 10px;
	z-index: 1;
}

.attribution a {
	color: hsl(228, 45%, 44%);
	transition: all var(--transition-timing);
}
.attribution a:hover {
	color: var(--Very-Dark-Cyan);
	font-weight: 600;
}

footer {
	background-color: var(--Very-Dark-Cyan);
	color: var(--Very-Pale-Cyan);
	padding: 150px 0 50px 0;
}

.footer-container {
	align-items: start;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-item {
	display: flex;
	gap: 20px;
	align-items: start;
}

.footer-item img {
	margin-top: 5px;
}

.footer-links {
	margin: 30px 0;
	font-size: 20px;
}

.footer-links .col,
.footer-links ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-icon-links {
	margin: 30px auto;
	display: flex;
	justify-content: center;
	gap: 30px;
}
.footer-icon-links a {
	display: flex;
	padding: 10px;
	border: 1px solid var(--Very-Pale-Cyan);
	border-radius: 50%;
}

.svg-icon {
	width: 24px;
	height: 24px;
}

.footer-icon-links a:hover > img svg ~ path {
	fill: var(--Pink);
}

.copyright {
	font-size: 13px;
	align-self: center;
}

@media screen and (min-width: 700px) {
	.container,
	.card-4 {
		max-width: 70%;
	}

	.header-container {
		max-width: 85%;
	}

	.footer-links {
		text-align: center;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 100%;
	}

	.header-container {
		padding: 20px 0;
	}

	.header-logo {
		width: 200px;
	}

	.header-container .cta-button {
		padding: 10px 40px;
	}

	.hero-container {
		flex-direction: row;
		gap: 50px;
	}

	.hero-body {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: start;
		gap: 30px;
		flex: 1.5;
	}

	.hero-body h1 {
		font-size: 42px;
		line-height: 56px;
	}

	.hero-mockup-image {
		flex: 2;
	}

	.cards-container {
		max-width: 80%;
		margin-bottom: 250px;
	}

	.card {
		text-align: left;
		padding: 100px;
		gap: 100px;
	}

	.card h2 {
		font-size: 28px;
	}

	.card-1,
	.card-3 {
		flex-direction: row-reverse;
	}

	.card-2 {
		flex-direction: row;
	}

	.card-image {
		flex: 1;
	}

	.card-text {
		flex: 1.5;
	}

	.card-4 {
		text-align: center;
		padding: 50px;
		gap: 30px;
		max-width: 60%;
	}

	.card-4 .cta-button {
		padding: 25px;
		width: 350px;
		font-size: 18px;
	}

	.footer-content {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 50px;
	}

	.footer-text {
		flex: 2;
	}

	.footer-links {
		flex: 2;
	}

	.footer-icon-links {
		flex: 1.5;
	}

	.footer-links ul {
		text-align: left;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	.footer-links,
	.footer-icon-links {
		margin: 0;
	}

	.copyright {
		width: 100%;
		text-align: right;
	}
}
