@font-face {
	font-family: "Poppins" !important;
	src: url(https://fonts.google.com/specimen/Poppins) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(https://fonts.google.com/specimen/Open+Sans);
	font-weight: normal;
	font-style: normal;
}
